<%= form_for @actor, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :login, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :login, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :avatar_url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :avatar_url, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :gravatar_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gravatar_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :url, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                actors_path, :class => 'btn' %>
  </div>
<% end %>
